<!doctype html>
<html>
<head>
    #parse("./common/header.html")
</head>

<body>

<!-- start nav -->
#parse("./common/nav.html")
<!-- end nav -->


<!-- Start of Page Container -->
<div class="page-container">
    <div class="container">
        <div class="row">

            <!-- start of page content -->
            <div class="span8 page-content">

                <ul class="breadcrumb">
                    <li><a href="#">问题广场</a><span class="divider">/</span></li>
                    <li><a href="#" title="View all posts in Server &amp; Database">Server &amp; Database</a> <span
                            class="divider">/</span></li>
                    <li class="active">Integrating WordPress with Your Website</li>
                </ul>

                <article class=" type-post format-standard hentry clearfix">

                    <h1 class="post-title"><a href="#">$!{que.title}</a></h1>

                    <div class="post-meta clearfix">
                        <span><a>$!{que.coffeer.nickName}</a></span>
                        <span class="date">$!{que.createDate}</span>
                        <span class="category"><a href="#" title="View all posts in Server &amp; Database">Server &amp;
                            Database</a></span>
                        <span class="comments"><a href="#" title="Comment on Integrating WordPress with Your Website">$!{que.commentCount}
                            条回答</a></span>
                    </div>
                    <!--question description-->
                    <p>$!{que.description}</p>
                </article>

                <!--

                <div class="like-btn">
                    <form id="like-it-form" action="#" method="post">
                        <span class="like-it ">66</span>
                        <input type="hidden" name="post_id" value="99">
                        <input type="hidden" name="action" value="like_it">
                    </form>

                                                        <span class="tags">
                                                                <strong>Tags:&nbsp;&nbsp;</strong><a href="#" rel="tag">basic</a>, <a
                                                                href="#" rel="tag">setting</a>, <a
                                                                href="http://knowledgebase.inspirythemes.com/tag/website/"
                                                                rel="tag">website</a>
                                                        </span>

                </div>
                -->
                <article class="format-standard type-post hentry clearfix">
                    <section id="comments">

                        <h3 id="comments-title">$!{que.commentCount}条回答</h3>

                        <ol class="commentlist">
                            #if($comVos)
                            #foreach($comVo in $comVos)
                            <li class="comment even thread-even depth-1" id="li-comment-2">
                                <article id="comment-2">

                                    <a href="#">
                                        <img alt=""
                                             src="http://1.gravatar.com/avatar/50a7625001317a58444a20ece817aeca?s=60&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D60&amp;r=G"
                                             class="avatar avatar-60 photo" height="60" width="60">
                                    </a>

                                    <div class="comment-meta">

                                        <h5 class="author">
                                            <cite class="fn">
                                                <a href="#" rel="external nofollow"
                                                   class="url">$!{comVo.ans.coffeer.nickName}</a>
                                            </cite>
                                            的<a class="comment-reply-link" href="#">回答</a>
                                        </h5>

                                        <p class="date">
                                            <a href="#">
                                                <time datetime="2013-02-26T13:18:47+00:00">$!{comVo.ans.createDate}</time>
                                            </a>
                                        </p>
                                        <div class="post-meta clearfix">
                                            <span class="category">coder,喜欢数据的程序员</span>
                                            <span class="comments"><a href="javascript:void(0);"
                                                                      onclick="showComment('comment_List_','$!{comVo.ans.id}')"
                                                                      title="">3
                                                条评论</a></span>
                                                <span class="">
                                                    <a class="uk-link-muted"><i class="uk-icon-star-o"></i>收藏</a>
                                                </span>
                                                <span class="">
                                                    <a class="uk-link-muted"><i class="uk-icon-heart-o"></i>感谢</a>
                                                </span>

                                                <span class="like-count">
                                                    #if($comVo.atti == 1)
                                                    <a href="javascript:void(0);" id="icon_like_$!{comVo.ans.id}" class="uk-link-muted uk-icon-medium uk-icon-thumbs-up" onclick="addAtti('$!{comVo.ans.id}','question_answer','1')"></a>
                                                    #else
                                                    <a href="javascript:void(0);" id="icon_like_$!{comVo.ans.id}" class="uk-link-muted uk-icon-medium uk-icon-thumbs-o-up" onclick="addAtti('$!{comVo.ans.id}','question_answer','1')"></a>
                                                    #end
                                                     <span id="like_$!{comVo.ans.id}">$!{comVo.like}</span>
                                                    #if($comVo.atti == -1)
                                                    <a href="javascript:void(0);" id="icon_dislike_$!{comVo.ans.id}" class="uk-link-muted uk-icon-medium uk-icon-thumbs-down" onclick="addAtti('$!{comVo.ans.id}','question_answer','0')"></a>
                                                    #else
                                                    <a href="javascript:void(0);" id="icon_dislike_$!{comVo.ans.id}" class="uk-link-muted uk-icon-medium uk-icon-thumbs-o-down" onclick="addAtti('$!{comVo.ans.id}','question_answer','0')"></a>
                                                    #end
                                                    <span id="dislike_$!{comVo.ans.id}">$!{comVo.dislike}</span>
                                                </span>
                                        </div><!-- end of post meta -->
                                    </div><!-- end .comment-meta -->

                                    <div class="comment-body">
                                        <p>$!{comVo.ans.content}</p>
                                        <a class="readmore-link"
                                           href="http://knowledgebase.inspirythemes.com/integrating-wordpress-with-your-website/">查看全文</a></p>
                                    </div><!-- end of comment-body -->

                                    <div id="comment_List_$!{comVo.ans.id}" class="comment-body" flag="false" hidden>
                                        <div class="uk-panel uk-panel-box">
                                            评论列表
                                            <hr>
                                            <ul class="uk-list uk-list-line">
                                                <!--<li>-->
                                                <!--<p class="indent">-->
                                                <!--<a>夏想 ：</a>-->
                                                <!--这是一个测试-->
                                                <!--</p>-->
                                                <!--</li>-->
                                            </ul>
                                            <hr>
                                            <div>
                                                <textarea id="textarea_$!{comVo.ans.id}" class="uk-width-1-1" name="content"
                                                          data-rule="required" data-msg-required="评论不能为空！"></textarea>
                                            </div>
                                            <div>
                                                <button class="btn" name="submit"
                                                        onclick="onCommentSubmit('$!{comVo.ans.id}','answer_comment','textarea_$!{comVo.ans.id}')">
                                                    提交
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </article><!-- end of comment -->
                            </li>
                            #end
                            #end
                        </ol>

                        <div id="respond">

                            <h3>回答这个问题</h3>

                            <div class="cancel-comment-reply">
                                <a rel="nofollow" id="cancel-comment-reply-link" href="#" style="display:none;">Click
                                    here
                                    to cancel reply.</a>
                            </div>


                            <form action="" method="post" id="answer_form">
                                <input name="entityId" value="$!{que.id}" type="hidden">
                                <input name="type" value="question_answer" type="hidden">
                                <div>
                                <textarea class="span8" name="content" id="comment" cols="58" rows="10"
                                          data-rule="required"
                                          data-msg-required="回答不能为空！"></textarea>
                                </div>
                                <div>
                                    <input class="btn" name="submit" type="submit" id="submit" value="提交">
                                </div>
                            </form>

                        </div>

                    </section><!-- end of comments -->
                </article>
            </div>
            <!-- end of page content -->
            <script type="text/javascript" src='${link.contextPath}/static/js/common/addComment.js'></script>

            <!-- start of sidebar -->
            <aside class="span4 page-sidebar">
                <section class="widget">
                    <h3 class="title">Featured Articles</h3>
                    <ul class="articles">
                        <li class="article-entry standard">
                            <h4><a href="single.html">Integrating WordPress with Your Website</a></h4>
                            <span class="article-meta">25 Feb, 2013 in <a href="#"
                                                                          title="View all posts in Server &amp; Database">Server
                                &amp; Database</a></span>
                            <span class="like-count">66</span>
                        </li>
                        <li class="article-entry standard">
                            <h4><a href="single.html">WordPress Site Maintenance</a></h4>
                            <span class="article-meta">24 Feb, 2013 in <a href="#"
                                                                          title="View all posts in Website Dev">Website
                                Dev</a></span>
                            <span class="like-count">15</span>
                        </li>
                        <li class="article-entry video">
                            <h4><a href="single.html">Meta Tags in WordPress</a></h4>
                            <span class="article-meta">23 Feb, 2013 in <a href="#"
                                                                          title="View all posts in Website Dev">Website
                                Dev</a></span>
                            <span class="like-count">8</span>
                        </li>
                        <li class="article-entry image">
                            <h4><a href="single.html">WordPress in Your Language</a></h4>
                            <span class="article-meta">22 Feb, 2013 in <a href="#"
                                                                          title="View all posts in Advanced Techniques">Advanced
                                Techniques</a></span>
                            <span class="like-count">6</span>
                        </li>
                    </ul>
                </section>


                <section class="widget"><h3 class="title">Categories</h3>
                    <ul>
                        <li><a href="#" title="Lorem ipsum dolor sit amet,">Advanced Techniques</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet,">Designing in WordPress</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet,">Server &amp; Database</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet, ">Theme Development</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet,">Website Dev</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet,">WordPress for Beginners</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet, ">WordPress Plugins</a></li>
                    </ul>
                </section>

                <section class="widget">
                    <h3 class="title">Recent Comments</h3>
                    <ul id="recentcomments">
                        <li class="recentcomments"><a href="#" rel="external nofollow" class="url">John Doe</a> on <a
                                href="#">Integrating WordPress with Your Website</a></li>
                        <li class="recentcomments">saqib sarwar on <a href="#">Integrating WordPress with Your
                            Website</a></li>
                        <li class="recentcomments"><a href="#" rel="external nofollow" class="url">John Doe</a> on <a
                                href="#">Integrating WordPress with Your Website</a></li>
                        <li class="recentcomments"><a href="#" rel="external nofollow" class="url">Mr WordPress</a> on
                            <a href="#">Installing WordPress</a></li>
                    </ul>
                </section>

            </aside>
            <!-- end of sidebar -->
        </div>
    </div>
</div>
<!-- End of Page Container -->

#include("./common/footer.html")


</body>
</html>
