<div class="search-area-wrapper">
    <div class="search-area container">
        <h3 class="search-header">有不明白的问题?</h3>
        <p class="search-tag-line">现在来搜索你感到疑惑的问题的答案吧!</p>

        <form id="search-form" class="search-form clearfix" method="get" action="#" autocomplete="off">
            <input class="search-term required" type="text" id="s" name="s" placeholder="问题描述"
                   title="* Please enter a search term!"/>
            <input class="search-btn" type="submit" value="搜索"/>
            <div id="search-error-container"></div>
        </form>
    </div>
</div>